<div class="container">
    <div class="addingtodo">
        <div class="icon"><i>{{fa-icon "edit" size=2 tagName="span"}}</i></div>
        {{input class="inpt" type="text"value=description placeholder=" What need to be done?"}}
        <div class="add">
            <i>{{fa-icon "plus-circle" size=2}}</i>
            <button class="btn" {{action 'addTodo' }}> Add </button>
        </div>
    </div>

    <div class="appname">
        <h2>TodoList haha</h2>
    </div>
    <div class="listing">
        <ul>
            {{#each filteredTodos as |todo|}}
            {{#each-todo title=todo.title checked=todo.completed todo=todo}}
            {{/each-todo}}
            {{/each}}
        </ul>
    </div>

    <div class="options">
        <button class="bt-opt">{{#link-to "todos" (query-params completed = null)}}AllTodos{{/link-to}}</button>
        <button class="bt-opt">{{#link-to "todos" (query-params completed = true)}}Completed{{/link-to}}</button>
        <button class="bt-opt">{{#link-to "todos" (query-params completed = false)}}Pending{{/link-to}}</button>
    </div>

</div>

{{outlet}}